.form-container{
  background: #c4c6ce;
  
  
  margin-top: 10px;
  margin-left:100vh;
  margin-right: 60px;

  width: 20rem;
  flex-direction: column;
  
  height: 57vh;
  border-radius: 1rem;

  position: fixed;
  right: 7rem;
}

.form-itens{
  display: flex;
  flex-direction: column;
  /* margin: 0 auto; */

  position: relative;

  
  left: 4vh;
  bottom: 5rem;
  top: 2rem;
}

label{
  margin-top: 2vh;
  color: white;
}

input{
  
  display: flex;
  width: 16rem;
  height: 1.7rem;
  padding: 1rem;
  border-radius: 10px;
  outline: none;
  box-shadow: none;
  border: none;
}

a{
  display: flex;
  flex-direction: column;
  position: relative;

  top: 4.8rem;
  left: 1.5rem ;

  background: red;
  padding-bottom: 1.4rem;
  width: 40vh;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
}
a:hover{
  background: rgb(197, 5, 5);
  transition: 500ms;
}

.content-text{
  max-width: 500px;
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  position: relative;
  top: 4rem;
}

.text-p{
  position: relative;
  top: 1.5vh;
  color: white;
}

.text-titulo-h1{
  font-size: 30px;
  position: relative;
  top: 5rem;
  left: 10rem;
  display: flex;
  color: #000;
}

.text-subtitulo-p{
  position: relative;
  top: 6rem;
  left: 10rem;
  color: #000;
}

.text-h3{
  font-size: 2rem ;
  position: relative;
  top: 10rem;
  left: 10rem;
  color: rgb(63, 47, 47);
}


  @media(max-width:1185px){
    .form-container{
      max-width: 953px;
      height: 50rem;
    }

    a{
      display: flex;
      position: relative;
      top: 4rem;
      margin-right: 64rem;

    }

  }
